{
  "env": {
    "development": {
      "presets": ["env"],
      "plugins": [
        "add-module-exports",
        "@babel/plugin-proposal-class-properties"
      ]
    },
    "production": {
      "presets": ["env", "minify"],
      "plugins": [
        "add-module-exports",
        "@babel/plugin-proposal-class-properties"
      ]
    }
  }
}
